section {
    margin-bottom: 150px;
}
 .vl {
     border-left: 1px solid #cccccc;
 }


ul.social-buttons{margin-bottom:0}
ul.social-buttons li a{font-size:20px;line-height:40px;display:block;width:40px;height:40px;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;color:#fff;border-radius:100%;outline:0;background-color:#212529}