#Force non-www:
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.gowww\.org.in [NC]
RewriteRule ^(.*)$ http://gowww.org.in/$1 [L,R=301]

### Force HTTPS
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]